# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=news_portal
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres_password
DATABASE_SSL=false

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_BUCKET=news-images

# Strapi
HOST=0.0.0.0
PORT=1337
APP_KEYS="yWeTex4dczBi1KHec2TIjEPc2T1lGGb05NHUeE0/WOE="
API_TOKEN_SALT="T/2sfTkiyDOypXisnjp0SSgg/9uE6vizQkux7HYYCEY="
ADMIN_JWT_SECRET="iVBFiQ7B2gFC/yptsTlRGLzgkBtg6LNXc8+kJbuWqxc="
TRANSFER_TOKEN_SALT="s0r2tR3DcbOBAX4lzeCPHjKMN70dZsbJk7wkwsVqWNY="
JWT_SECRET="t+OpjwlHF2zNl0ajSIAfWbPuWo234gf+Tleo/O4mD8Q="

# Next.js
NEXT_PUBLIC_STRAPI_API_URL=http://localhost:1337
NEXT_PUBLIC_SITE_URL=https://yourdomain.com

